<main class="container w-75">
    {{#if posts.length}}
        <h2 class="text-center my-3">Your Posts</h2>
        {{#each posts as |post|}}
            <a class="dash-post-link" href="/posts/{{post.id}}">
                <div class="dash-post d-flex align-items-center justify-space-between w-100 mx-0 py-3">
                    <h3 class="post-title ms-md-4 my-auto"> {{post.title}} </h3>
                    <h5 class="post-author me-md-4 my-auto">Posted on {{format_date post.date_created}}</h5>
                </div>
            </a>
        {{/each}}
    {{/if}}
    <button id="newPostBtn" class="btn btn-primary my-3 mx-auto" data-bs-toggle="modal" data-bs-target="#newPostModal">New Post</button>

{{!-- New Post Modal --}}
    <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <form class="col mb-3 d-flex flex-column align-items-center" id="newPostForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newPostModalLabel">New Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <input type="text" class="form-control my-3 w-75" id="newPostTitle" placeholder="Title">
                    <textarea class="form-control my-3 w-75" id="newPostContent" placeholder="Content"></textarea>
                    <button type="submit" class="btn btn-primary my-3 mb-5" id="newPostSubmit">Submit</button>
                </form>  
            </div>
        </div>
    </div>

</main>
<script src="/js/post.js"></script>