:root{
    --red: #D33F49;
    --space: #2B2D42;
    --light-space: #353652;
    --dark-space: #24263B;
    --white: #EEEEFF;
    --lavender: #7F7CAF;
}
body{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
header{
    background-color: var(--space);
    padding: 10px;
}
#pills-login-tab, #pills-signup-tab{
    background-color: var(--space);
    color: var(--white);
    border: 3px solid var(--red);
    border-radius: 5px;
}
#pills-login-tab:hover, #pills-signup-tab:hover{
    background-color: var(--light-space);
    color: var(--white);
}

.nav-link{
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
}
.nav-link:hover{
    background-color: var(--light-space);
    color: var(--white);
    text-decoration: none;
}
.nav-link :active{
    background-color: var(--space);
    color: var(--white);
    text-decoration: none;
}
.nav-link:visited{
    color: var(--white);
    text-decoration: none;
}
.nav-link:focus{
    color: var(--white);
    text-decoration: none;
}
.title{
    width: 40%;
    min-width: 225px;
    font-size: 42px;
    color: var(--white);
    text-shadow: 2px 2px var(--lavender);
    border-bottom: 3px solid var(--red);
    border-right: 3px solid var(--red);
    border-radius: 0 0 20px 0;
}
.post-card{
    background-color: #fff;
    border: 3px solid var(--space);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #ccc;
}
.post-card-link, .dash-post-link{
    color: var(--space);
    text-decoration: none;
}
.post-card-link:hover, .dash-post-link:hover{
    background-color: var(--light-space);
    color: var(--white);
    text-decoration: none;
}
.post-card-header, .post-card-footer {
    display: flex;
    align-items: center;
    background-color: var(--space);
}
.post-card-footer{
    justify-content: center;
    border-top: 3px solid var(--red);
}
.post-card-header{
    justify-content: space-between;
    border-bottom: 3px solid var(--red);
}
.post-title{
    color: var(--white);
    text-shadow: 2px 2px var(--lavender);
}
.post-author{
    color: var(--lavender);
}
.comments{
    background-color: #fff;
    border: 3px solid var(--space);
    border-radius: 5px;

}
.comments-container{
border-top: 3px solid var(--space);
}
.post-comments-header{
    background-color: var(--space);
    color: var(--white);
    text-shadow: 2px 2px var(--lavender);
    font-size: 28px;
    border-bottom: 3px solid var(--red);
}
.post-comment{
    /* border-top: 3px solid var(--light-space); */
    border-bottom: 3px solid var(--light-space);
}

.dash-post{
    background-color: var(--space);
    border: 3px solid var(--red);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #ccc;
}
.btn{
    text-align: center;
}

@media screen and (max-width: 576px){
    .nav-link{
        font-size: 16px;
        
    }
    .title{
        width: 40%;
        font-size: 28px;
        
    }
    .post-card{
        width: 100%;
    }
    .post-card-header{
        flex-direction: column;
        max-height: 100px;
    }
}
